@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

html {
  background-color: black;
  color: white;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

.label {
  color: white;
}

.box {
  box-shadow: 0 0.5em 1em -0.125em rgba(255, 255, 255, 0.5), 0 0 0 1px rgb(255 255 255 / 2%);
}

// Start stars stylings

@function generate-random-stars ($screen-width, $color, $density){
  
  $h-shadow: random($screen-width);
  $v-shadow: random($screen-width);
  
  $stars: '#{$h-shadow}px #{$v-shadow}px #{$color}';
	@for $i from 2 through $density {
      $h-shadow: random($screen-width);
      $v-shadow: random($screen-width);
    
    $stars: '#{$stars}, #{$h-shadow}px #{$v-shadow}px #{$color}';
	}
	@return unquote($stars);
}

@mixin stars-content($screen-width, $color, $density, $speed, $delay) {
  width: 2px;
  height: 2px;
	border-radius: 50%;
	opacity: 0;
  z-index: -99;
	box-shadow: generate-random-stars($screen-width, $color, $density);
	animation-name: glowing-stars;
  animation-duration: $speed+s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
	animation-delay: $delay+s;
}

body{
  background: #000;
}

/* Change colors for multi-colors star groups */

#stars-group-1{
	@include stars-content(1800, #fff, 200, 3, 0);
}

#stars-group-2{
	@include stars-content(1800, #fff, 200, 3, 0.4);
}

#stars-group-3{
	@include stars-content(1800, #fff, 200, 3, 0.8);
}

#stars-group-4{
	@include stars-content(1800, #fff, 200, 3, 1.2);
}

#stars-group-5{
	@include stars-content(1800, #fff, 200, 3, 1.6);
}

#stars-group-6{
	@include stars-content(1800, #fff, 200, 3, 2.0);
}


@keyframes glowing-stars {
    0%   {opacity: 0;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
}

//  Stars stylings End
